<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
New
{% endblock title %}

{% load custom_tags %}

{% block content %}
   <h1>Выбранная новость</h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
   <hr>

      <table>
           <tr>
               <td><h4><b>Заголовок</b></h4></td>
               <td><h4><b>Дата публикации</b></h4></td>
               <td><h4><b>Статья</b></h4></td>
               <td><h4><b>Категория</b></h4></td>
           </tr>


           <tr>
               <td>{{ new.title|censor }}</td>
               <td>{{ new.time_in|date:'M d Y' }}</td>
               <td>{{ new.text|censor }}</td>
                       <td>
            {% for category in new.category.all %}
            <a href="{% url 'category_detail' category.id %}"> {{ category }}</a>
            {% endfor %}
        </td>
           </tr>

       </table>
{% endblock content %}
