{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
    PostSearch
{% endblock title %}


{% block content %}

<h1>Поиск новостей</h1>
<h3>(всего новостей: {{ posts|length }})</h3>
<form method='GET'>
    {{ filter.form }}
    <input class="btn btn-primary" type='submit' value='Найти'>
</form>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Автор
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Содержание
        </th>
    </thead>
    {% for post in filter.qs %}
        <tr>
            <td>
                <a href="{{ new.title }}">{{ post.title|censor }} </a>
            </td>
            <td>
                {{ post.author.name }}
            </td>
            <td>
                {{ post.time_in|date:'M d Y H i' }}
            </td>
            <td>
                {{ post.text|truncatechars:50|censor }}
            </td>
        </tr>
    {% endfor %}
</table>


{% endblock content %}