{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{category_detail}}
{% endblock title %}


{% block content %}
<h1>Категория {{ category_detail }}</h1>
{% if category_detail %}
{% if user.is_authenticated %}
{% if user in category_detail.subscribers.all %}
 <a href="{% url 'subscribe' category_detail.id %}">  Отпишись </a>
{% else %}
 <a href="{% url 'subscribe' category_detail.id %}">  Подпишись </a>
{% endif %}
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Текст</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Автор</th>
    </tr>
  </thead>
  <tbody>
          {% for post_categorie in category_detail.post_category.all %}

    <tr>
      <th scope="row">1</th>
      <td>{{ post_categorie.post.title}}</td>
      <td> {{ post_categorie.post.text}}</td>
      <td>{{ post_categorie.post.rating}}</td>
      <td>{{ post_categorie.post.author.name}}</td>
    </tr>


           
        {% endfor %}
    </table>
{% else %}
<h2> Категорий нет </h2>
{% endif %}
{% endblock content %}